.idea
__pycache__/gilded_rose_besser.cpython-311.pyc
__pycache__/gilded_rose.cpython-311.pyc
__pycache__/test_gilded_rose.cpython-311.pyc
__pycache__/gilded_rose.cpython-311.pyc
__pycache__/gilded_rose.cpython-311.pyc
__pycache__/gilded_rose.cpython-311.pyc
